<script>
	var requiredCSS = [
		'assets/vendor/jqvmap/jqvmap.min.css',
		'assets/vendor/slick/slick.css',
		'assets/vendor/slick/slick-theme.css'
	];

	loadCSS(requiredCSS);

	var requiredJS = [
		'assets/vendor/bootstrap-progressbar/js/bootstrap-progressbar.min.js',
		'assets/vendor/jquery-sparkline/js/jquery.sparkline.min.js',
		'assets/vendor/jqvmap/jquery.vmap.min.js',
		'assets/vendor/jqvmap/maps/jquery.vmap.world.js',
		'assets/vendor/Flot/jquery.flot.js',
		'assets/vendor/Flot/jquery.flot.resize.js',
		'assets/vendor/Flot/jquery.flot.pie.js',
		'assets/vendor/flot.tooltip/jquery.flot.tooltip.js',
		'assets/vendor/slick/slick.min.js',
		'assets/vendor/chart-js/Chart.min.js',
		'assets/scripts/dashboards/dashboard4.js',
	];

	loadJS(requiredJS);

</script>

<div class="row">
	<div class="col-md-9">
		<!-- METRICS -->
		<div class="row">
			<div class="col-md-4">
				<div class="widget widget-metric_8">
					<div class="heading clearfix">
						<span class="title">MILEAGE</span>
						<div class="dropdown">
							<a href="#" class="toggle-dropdown" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#"><i class="fa fa-refresh"></i> Refresh</a></li>
								<li><a href="#"><i class="fa fa-pencil"></i> Modify</a></li>
							</ul>
						</div>
					</div>
					<i class="ti-truck custom-text-blue4"></i> <span class="value">85%</span>
					<div class="progress progress-xs progress-transparent custom-color-blue4">
						<div class="progress-bar" data-transitiongoal="85"></div>
					</div>
					<p class="info">115 miles remanining</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget widget-metric_8">
					<div class="heading clearfix">
						<span class="title">STORAGE</span>
						<div class="dropdown">
							<a href="#" class="toggle-dropdown" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#"><i class="fa fa-refresh"></i> Refresh</a></li>
								<li><a href="#"><i class="fa fa-pencil"></i> Modify</a></li>
							</ul>
						</div>
					</div>
					<i class="ti-package custom-text-purple"></i> <span class="value">34%</span>
					<div class="progress progress-xs progress-transparent custom-color-purple">
						<div class="progress-bar" data-transitiongoal="34"></div>
					</div>
					<p class="info">You have 522 free space</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget widget-metric_8">
					<div class="heading clearfix">
						<span class="title">USED RESOURCES</span>
						<div class="dropdown">
							<a href="#" class="toggle-dropdown" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#"><i class="fa fa-refresh"></i> Refresh</a></li>
								<li><a href="#"><i class="fa fa-pencil"></i> Modify</a></li>
							</ul>
						</div>
					</div>
					<i class="ti-settings custom-text-green3"></i> <span class="value">250/500</span>
					<div class="progress progress-xs progress-transparent custom-color-green3">
						<div class="progress-bar" data-transitiongoal="50"></div>
					</div>
					<p class="info"><i class="ti-arrow-up icon-change"></i> +15% than last month</p>
				</div>
			</div>
		</div>
		<!-- END METRICS -->

		<!-- CAMPAIGN RESULT -->
		<div class="panel panel-tab">
			<div class="panel-heading">
				<h3 class="panel-title">Campaign Result</h3>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-user-circle"></i> Social</a></li>
					<li><a href="#tab2" data-toggle="tab"><i class="fa fa-envelope"></i> Newsletter</a></li>
					<li><a href="#tab3" data-toggle="tab"><i class="fa fa-pie-chart"></i> Visits</a></li>
				</ul>
			</div>
			<div class="panel-body">
				<div class="tab-content no-padding">
					<!-- tab 1 -->
					<div class="tab-pane fade in active" id="tab1">
						<div class="top margin-bottom-50">
							<div class="row">
								<div class="col-sm-10">
									<div class="period font-13">
										<span>Aug 05, 2017 - Aug 11, 2017</span><br>
										<span class="previous text-muted">Jun 29, 2017 - Aug 4, 2017 (previous)</span>
									</div>
									<div class="margin-bottom-30 visible-xs"></div>
								</div>
								<div class="col-sm-2">
									<select class="form-control">
										<option>7 Days</option>
										<option>1 Month</option>
										<option>3 Months</option>
									</select>
								</div>
							</div>
						</div>
						<div class="panel-layout dashed-separator">
							<div class="panel-cols-2">
								<div class="widget-metric_9 text-center">
									<span class="title">Engagement</span>
									<span class="value">23,745</span>
									<span class="percentage text-indicator-green"><i class="fa fa-sort-up icon-up"></i> 14.86%</span>
									<span class="text-muted">vs. 15,443 (previous)</span>

									<div class="inlinesparkline margin-top-50">26,68,35,38,53,95,114,87,114</div>
								</div>
							</div>
							<div class="panel-cols-2">
								<div class="widget-metric_9 text-center">
									<span class="title">Page Reach</span>
									<span class="value">793,148</span>
									<span class="percentage text-indicator-red"><i class="fa fa-sort-down icon-down"></i> 8.13%</span>
									<span class="text-muted">vs. 701,954 (previous)</span>
									<div class="inlinesparkline margin-top-50">35,68,55,60,65,87,77,68,55</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab 1 -->

					<!-- tab 2 -->
					<div class="tab-pane fade" id="tab2">
						<div class="row">
							<div class="col-md-3">
								<strong>Top Countries</strong>
								<table class="table table-minimal table-no-border">
									<thead>
										<tr><th>COUNTRY</th><th>OPENS</th></tr>
									</thead>
									<tbody>
										<tr><td>United States</td><td>2936</td></tr>
										<tr><td>Algeria</td><td>2812</td></tr>
										<tr><td>Russia</td><td>2735</td></tr>
										<tr><td>France</td><td>2674</td></tr>
										<tr><td>Mexico</td><td>2584</td></tr>
										<tr><td>Germany</td><td>1986</td></tr>
										<tr><td>Brazil</td><td>1921</td></tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-9">
								<div id="map-email-opens" style="height: 350px;"></div>
							</div>
						</div>
					</div>
					<!-- end tab 2 -->

					<!-- tab 3 -->
					<div class="tab-pane fade" id="tab3">
						<div class="panel-layout dashed-separator">
							<div class="panel-cols-2">
								<h3 class="panel-content-title">Referrals</h3>
								<ul class="list-unstyled list-referrals">
									<li>
										<p><span class="value">3,454</span><span class="text-muted">visits from Facebook</span></p>
										<div class="progress progress-xs progress-transparent custom-color-blue">
											<div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width:87%"></div>
										</div>
									</li>
									<li>
										<p><span class="value">2,102</span><span class="text-muted">visits from Twitter</span></p>
										<div class="progress progress-xs progress-transparent custom-color-purple">
											<div class="progress-bar" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" style="width:34%"></div>
										</div>
									</li>
									<li>
										<p><span class="value">2,874</span><span class="text-muted">visits from Affiliates</span></p>
										<div class="progress progress-xs progress-transparent custom-color-green">
											<div class="progress-bar" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width:67%"></div>
										</div>
									</li>
									<li>
										<p><span class="value">2,874</span><span class="text-muted">visits from Search</span></p>
										<div class="progress progress-xs progress-transparent custom-color-yellow">
											<div class="progress-bar" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width:54%"></div>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-cols-2">
								<h3 class="panel-content-title">Traffic Sources</h3>
								<div id="traffic-sources-chart"></div>
							</div>
						</div>
					</div>
					<!-- end tab 3 -->
				</div>
			</div>
		</div>
		<!-- END CAMPAIGN RESULT -->

		<!-- STOCK INFO -->
		<div class="widget widget-carousel">
			<div class="item">
				<div class="widget-metric_10">
					<span class="title">GOOGL</span>
					<span class="value"><span class="number">930.50</span> <span class="symbol">USD</span></span>
					<span class="percentage text-indicator-red"><i class="fa fa-angle-down icon-down"></i> 6.39 (0.68%)</span>
				</div>
			</div>
			<div class="item">
				<div class="widget-metric_10">
					<span class="title">AMZN</span>
					<span class="value"><span class="number">945.26</span> <span class="symbol">USD</span></span>
					<span class="percentage text-indicator-green"><i class="fa fa-angle-up icon-up"></i> 7.19 (0.75%)</span>
				</div>
			</div>
			<div class="item">
				<div class="widget-metric_10">
					<span class="title">FB</span>
					<span class="value"><span class="number">166.32</span> <span class="symbol">USD</span></span>
					<span class="percentage text-indicator-red"><i class="fa fa-angle-down icon-down"></i> 1.42 (0.75%)</span>
				</div>
			</div>
			<div class="item">
				<div class="widget-metric_10">
					<span class="title">AAPL</span>
					<span class="value"><span class="number">162.32</span> <span class="symbol">USD</span></span>
					<span class="percentage text-indicator-green"><i class="fa fa-angle-up icon-up"></i> 0.82 (0.51%)</span>
				</div>
			</div>
			<div class="item">
				<div class="widget-metric_10">
					<span class="title">TWTR</span>
					<span class="value"><span class="number">16.89</span> <span class="symbol">USD</span></span>
					<span class="percentage text-indicator-green"><i class="fa fa-angle-up icon-up"></i> 0.12 (0.72%)</span>
				</div>
			</div>
			<div class="item">
				<div class="widget-metric_10">
					<span class="title">BABA</span>
					<span class="value"><span class="number">168.98</span> <span class="symbol">USD</span></span>
					<span class="percentage text-indicator-red"><i class="fa fa-angle-down icon-down"></i> 0.70 (0.42%)</span>
				</div>
			</div>
		</div>
		<!-- END STOCK INFO -->
	</div>
	<div class="col-md-3">
		<!-- VISIT DURATION -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Visit Duration</h3>
			</div>
			<div class="panel-body">
				<canvas id="horizontalbar-chart" height="250"></canvas>
			</div>
		</div>
		<!-- END VISIT DURATION -->

		<!-- CUSTOMER SATISFACTION -->
		<div class="widget widget-metric_5">
			<span class="title text-muted">Customer Satisfaction</span>
			<ul class="list-inline list-value">
				<li>
					<i class="fa fa-frown-o"></i>
					<span class="percentage text-indicator-red">10%</span>
				</li>
				<li>
					<i class="fa fa-meh-o"></i>
					<span class="percentage">13%</span>
				</li>
				<li>
					<i class="fa fa-smile-o"></i>
					<span class="percentage text-indicator-green">77%</span>
				</li>
			</ul>
			<span class="note">See detailed scoring <a href="#">here</a></span>
		</div>
		<!-- END CUSTOMER SATISFACTION -->

		<!-- SALES CHART -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Sales</h3>
			</div>
			<div class="panel-body no-padding-bottom">
				<table class="table table-invisible">
					<thead>
						<tr><th>Period</th><th>Revenue</th></tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-muted">This Week</td><td class="text-right">$1207</td>
						</tr>
						<tr>
							<td class="text-muted">This Month</td><td class="text-right">$15821</td>
						</tr>
					</tbody>
				</table>

				<canvas id="sales-chart" height="220"></canvas>
			</div>
		</div>
		<!-- END SALES CHART -->
	</div>
</div>
	
<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="widget widget-resume">
			<div class="resume-header">
				<div class="left">
					<a href="#"><img src="assets/img/people/male6.png" class="profile-image" alt=""></a>
					<div class="bio-text">
						<a href="#" class="name">Eugene Diaz</a>
						<span class="title">UI Director</span>
					</div>
				</div>
				<div class="right">
					<button type="button" class="btn btn-primary btn-outline"><i class="fa fa-plus"></i> <span>Follow</span></button>
				</div>
			</div>
			<ul class="list-unstyled list-resume-experience">
				<li class="experience">
					<div class="left">
						<div class="company-logo dropbox-bg">
							<i class="fa fa-dropbox"></i>
						</div>
						<div class="detail">
							<span class="company-name">Dropbox</span>
							<span class="title">UI Team Lead</span>
						</div>
					</div>
					<span class="period">2016 - present</span>
				</li>
				<li class="experience">
					<div class="left">
						<div class="company-logo dribbble-bg">
							<i class="fa fa-dribbble"></i>
						</div>
						<div class="detail">
							<span class="company-name">Dribbble</span>
							<span class="title">UI Designer</span>
						</div>
					</div>
					<span class="period">2014 - 2016</span>
				</li>
			</ul>
			<div class="resume-footer">
				<div class="skills">
					<div class="row">
						<div class="col-xs-2">
							<span class="label-text">Skills</span>
						</div>
						<div class="col-xs-10">
							<ul class="list-unstyled list-inline list-tags">
								<li>
									<a href="#" class="tag tag-green2">UI Design</a>
								</li>
								<li>
									<a href="#" class="tag tag-orange2">UX</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<!-- CUSTOMER SUPPORT -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Customer Support</h3>
			</div>
			<div class="panel-body">
				<h3 class="panel-content-title text-center">Chat Volume</h3>
				<canvas id="chat-volume-chart" height="135"></canvas>
				<div class="row margin-top-30">
					<div class="col-xs-6">
						<div class="widget-metric_3 text-center">
							<span class="title text-muted">Total Agents</span>
							<span class="value">75</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="widget-metric_3 text-center">
							<span class="title text-muted">Rating</span>
							<span class="value">4.8</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END CUSTOMER SUPPORT -->
	</div>
	<div class="col-md-4 col-sm-6">
		<!-- TOP SUPPORT AGENTS -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Top Support Agents</h3>
			</div>
			<div class="panel-body">
				<div class="widget-support-agent">
					<ul class="list-unstyled list-widget-vertical no-border spacing-25 margin-bottom-30">
						<li>
							<div class="support-agent">
								<a href="#"><img src="assets/img/people/female6.png" class="agent-photo" alt=""></a>
								<div class="agent-detail">
									<a href="#" class="name">Margaret Burns</a>
									<span class="email">margaret@domain.com</span>
									<span class="rating-stars smaller">
										<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
										<span class="info">(134 <a href="#">feedbacks</a>)</span>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="support-agent">
								<a href="#"><img src="assets/img/people/female3.png" class="agent-photo" alt=""></a>
								<div class="agent-detail">
									<a href="#" class="name">Audrey</a>
									<span class="email">audrey@domain.com</span>
									<span class="rating-stars smaller">
										<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
										<span class="info">(122 <a href="#">feedbacks</a>)</span>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="support-agent">
								<a href="#"><img src="assets/img/people/male2.png" class="agent-photo" alt=""></a>
								<div class="agent-detail">
									<a href="#" class="name">Walter Harrison</a>
									<span class="email">walter@domain.com</span>
									<span class="rating-stars smaller">
										<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
										<span class="info">(89 <a href="#">feedbacks</a>)</span>
									</span>
								</div>
							</div>
						</li>
					</ul>

					
					<a href="#" class="btn btn-primary btn-outline"><i class="fa fa-users"></i> All Agents</a>&nbsp;&nbsp;
					<div class="margin-bottom-15 visible-xs"></div>
					<a href="#" class="btn btn-default btn-outline"><i class="fa fa-user-plus"></i> Add Agent</a>

				</div>
				
			</div>
		</div>
		<!-- END TOP SUPPORT AGENTS -->
	</div>
</div>