<div class="row demo-layout margin-top-50">
	<div class="col-md-6">
		<div class="layout-item">
			<a href="index-topnav.html" target="_blank"><img src="assets/img/layout-topnav.png" class="img-responsive center-block" alt="Layout Top Navigation"></a>
			<h4><a href="index-topnav.html" target="_blank">Layout Top Navigation</a></h4>
		</div>
	</div>
	<div class="col-md-6">
		<div class="layout-item">
			<a href="index-minified.html" target="_blank"><img src="assets/img/layout-minified.png" class="img-responsive center-block" alt="Layout Minified"> <span class="layout-active"><i class="fa fa-check"></i></span></a>
			<h4><a href="index-minified.html" target="_blank">Layout Minified</a></h4>
		</div>
	</div>
	<div class="col-md-6">
		<div class="layout-item">
			<a href="index-fullwidth.html" target="_blank"><img src="assets/img/layout-fullwidth.png" class="img-responsive center-block" alt="Layout Fullwidth"></a>
			<h4><a href="index-fullwidth.html" target="_blank">Layout Fullwidth</a></h4>
		</div>
	</div>
	<div class="col-md-6">
		<div class="layout-item">
			<a href="index.html"><img src="assets/img/layout-default.png" class="img-responsive center-block" alt="Layout Default"></a>
			<h4><a href="index.html">Layout Default</a></h4>
		</div>
	</div>
</div>