<script>
	var requiredCSS = [
		'assets/vendor/summernote/summernote.css',
		'assets/vendor/bootstrap-markdown/bootstrap-markdown.min.css'
	];

	loadCSS(requiredCSS);

	var requiredJS = [
		'assets/vendor/summernote/summernote.min.js',
		'assets/vendor/markdown/markdown.js',
		'assets/vendor/to-markdown/to-markdown.js',
		'assets/vendor/bootstrap-markdown/bootstrap-markdown.js',
		'assets/scripts/forms/forms-texteditor.js'
	];

	loadJS(requiredJS);

</script>

<h4>Summernote</h4>
<p class="margin-bottom-30">Super Simple WYSIWYG Editor on Bootstrap</p>

<div class="summernote">Hello there,<br/>
	<p>The toolbar can be customized and it also supports various callbacks such as <code>oninit</code>, <code>onfocus</code>, <code>onpaste</code> and many more.</p>
	<p>Please try <b>paste some texts</b> here</p>
</div>

<div class="margin-bottom-30"></div>

<h4>Markdown Editor</h4>
<p class="margin-bottom-30">Markdown editing meet Bootstrap</p>

<textarea id="markdown-editor" name="markdown-content" data-provide="markdown" rows="10"></textarea>