<script>
	var requiredCSS = [
		'assets/vendor/bootstrap-slider/slider.css',
		'assets/vendor/nouislider/css/nouislider.min.css',
	];

	loadCSS(requiredCSS);

	var requiredJS = [
		'assets/vendor/bootstrap-slider/bootstrap-slider.js',
		'assets/vendor/wnumb/wNumb.js',
		'assets/vendor/nouislider/js/nouislider.min.js',
		'assets/scripts/forms/forms-input-sliders.js'
	];

	loadJS(requiredJS);

</script>

<!-- RANGE SLIDER INPUT -->
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Input Slider <small>by <a href="https://refreshless.com/nouislider/">noUiSlider</a></small></h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div id="nouislider1"></div><br>
				<span>Provide number between 0 to 1000 then hit enter</span>
				<input id="input-nouislider1">
				<br><br><br>

				<div id="nouislider2"></div><br>
				<span>Provide number between 2.000 to 50.000 then hit enter, you can ignore '$' sign</span><br>
				<input id="input-nouislider2">
				<br><br><br><br>

				<span>Range slider with tooltips</span><br><br><br>
				<div id="nouislider3"></div>
				<br><br>
			</div>
			<div class="col-md-6">
				<span>Slider with step</span><br><br>
				<div id="nouislider4"></div>
				<br><br>

				<span>Draggable range, drag the green area</span><br><br>
				<div id="nouislider5"></div>
				<br><br>

				<span>Fixed draggable range with fixed handles</span><br><br>
				<div id="nouislider6"></div>
				<br><br>

				<span>Default, basic slider</span><br><br>
				<div id="nouislider7"></div>
			</div>
		</div>
	</div>
</div>
<!-- END RANGE SLIDER INPUT -->

<!-- SLIDER -->
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Input Slider <small>by <a href="http://www.eyecon.ro/bootstrap-slider/">Bootstrap Slider</a></small></h3>
	</div>
	<div class="panel-body">
		<div class="slider-has-label">
			<div class="left-slider">
				<input type="text" class="bootstrap-slider" value="">
			</div>
			<div class="right-label">
				<span class="label label-default label-slider pull-right"></span>
			</div>
		</div>
		<input type="text" class="bootstrap-slider-step" value="">
	</div>
</div>
<!-- END SLIDER -->
