<script>
	var requiredCSS = [
		'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css',
	];

	loadCSS(requiredCSS);

	var requiredJS = [
		'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js',
		'assets/scripts/forms/forms-multiselect.js'
	];

	loadJS(requiredJS);

</script>

<!-- MULTISELECT -->
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Multiselect</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<label>Default</label><br>
				<select id="multiselect1" name="multiselect1[]" class="multiselect" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
					<option value="mushrooms">Mushrooms</option>
					<option value="pepperoni">Pepperoni</option>
					<option value="onions">Onions</option>
				</select><br><br>

				<label>"Select All" Option Enabled</label><br>
				<select id="multiselect3-all" name="multiselect3[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="multiselect-all">Select All</option>
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
					<option value="mushrooms">Mushrooms</option>
					<option value="pepperoni">Pepperoni</option>
					<option value="onions">Onions</option>
				</select><br><br>

				<label>Options Group</label><br>
				<select id="multiselect5" name="multiselect5" class="multiselect-custom" multiple="multiple">
					<optgroup label="Mathematics">
						<option value="analysis">Analysis</option>
						<option value="algebra">Linear Algebra</option>
						<option value="discrete">Discrete Mathematics</option>
						<option value="numerical">Numerical Analysis</option>
						<option value="probability">Probability Theory</option>
					</optgroup>
					<optgroup label="Computer Science">
						<option value="programming">Introduction to Programming</option>
						<option value="automata">Automata Theory</option>
						<option value="complexity">Complexity Theory</option>
						<option value="software">Software Engineering</option>
					</optgroup>
				</select><br><br>

				<label>Smaller Size</label><br>
				<select id="multiselect-size" name="multiselect7[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
				</select><br><br>

				<label>Custom Button Class (btn-primary)</label><br>
				<select id="multiselect-color" name="multiselect9[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
				</select>

			</div>
			<div class="col-md-6">
				<label>Custom Checkbox</label><br>
				<select id="multiselect2" name="multiselect2[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
					<option value="mushrooms">Mushrooms</option>
					<option value="pepperoni">Pepperoni</option>
					<option value="onions">Onions</option>
				</select><br><br>

				<label>Single Selection</label><br>
				<select id="single-selection" name="single_selection" class="multiselect multiselect-custom">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
					<option value="mushrooms">Mushrooms</option>
					<option value="pepperoni">Pepperoni</option>
					<option value="onions">Onions</option>
				</select><br><br>

				<label>Filter Enabled</label><br>
				<select id="multiselect4-filter" name="multiselect4[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="bootstrap">Bootstrap</option>
					<option value="bootstrap-marketplace">Bootstrap Marketplace</option>
					<option value="bootstrap-theme">Bootstrap Theme</option>
					<option value="html">HTML</option>
					<option value="html-template">HTML Template</option>
					<option value="wp-marketplace">WordPress Marketplace</option>
					<option value="wp-plugin">WordPress Plugin</option>
					<option value="wp-theme">WordPress Theme</option>
				</select><br><br>

				<label>Disabled Options</label><br>
				<select id="multiselect6" name="multiselect6[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
					<option value="mushrooms" disabled="disabled">Mushrooms</option>
					<option value="pepperoni" disabled="disabled">Pepperoni</option>
					<option value="onions" disabled="disabled">Onions</option>
				</select><br><br>

				<label>Link (btn-link)</label><br>
				<select id="multiselect-link" name="multiselect8[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
				</select><br><br>

				<label>Custom Button Class (btn-success)</label><br>
				<select id="multiselect-color2" name="multiselect10[]" class="multiselect multiselect-custom" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
				</select>

			</div>
		</div>
	</div>
</div>
<!-- END MULTISELECT -->